body{
    margin: 0%; 
    background-image:url("https://static.vecteezy.com/system/resources/previews/000/108/346/original/free-bakery-pattern-vector.png");
}
header{
    background-color:rgba(208, 175, 132, 0.822);
    height: 40px;
    text-align: center; 
    font-family:Arial, Helvetica, sans-serif; 
    
}
h1{
    display: inline-block;
}
a{
    float: right;
    color: rgb(66, 62, 62);
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    padding: 20px;
    padding-top: 10px;

}
main{
    min-height: 600px;
    
}
footer{
    background-color: rgba(180, 125, 53, 0.61);
    text-align: center;
    font-weight: bolder;

}
table{
    background-color: rgba(208, 175, 132,.75);
}
h1{
    margin-top: 0px;
    
}

h2{
    vertical-align: top;
    display: inline-block;
    background-color: rgba(208, 175, 132,.75);  
    font-family:serif;
}

table {
    font-family: arial, sans-serif;
    margin-left: 30px;
    border-collapse: collapse;
    color: black;
    
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}
form{
    background-color: rgba(208, 175, 132,.75);
    margin-top: 5%;
}