body{
    
    margin: 0%;

}
header{
    background-color:rgba(208, 175, 132, 0.7);
    height: 40px;
    text-align: center; 
    font-family: fantasy; 
    
}
main{
    background-image:url("https://static.vecteezy.com/system/resources/previews/000/108/346/original/free-bakery-pattern-vector.png");
    min-height: 600px;
    color: #d2e69c;
}
footer{
    background-color: rgba(180, 125, 53, 0.61);
    text-align: center;
    font-weight: bolder;

}
table{
    background-color: rgba(208, 175, 132,.75);
}
h1{
    margin-top: 0px;
    color: #c8eed9;
}

h3{
    vertical-align: top;
    display: inline-block;
    background-color: rgba(208, 175, 132,.75);  
    font-family:serif;
}

table {
    font-family: arial, sans-serif;
    display:inline-table ;
    margin-top: 60px;
    margin-right: 30px;
    border-collapse: collapse;
    color: black;
    
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}
ul{
    display: inline-block;
    margin-right: 20px;
    background-color: rgba(208, 175, 132,.75);  

}